<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.0.-Pandas---Первое-знакомство" data-toc-modified-id="1.0.-Pandas---Первое-знакомство-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>1.0. Pandas - Первое знакомство</a></span></li><li><span><a href="#НО" data-toc-modified-id="НО-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>НО</a></span></li><li><span><a href="#1.1.-Pandas-DataFrame" data-toc-modified-id="1.1.-Pandas-DataFrame-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>1.1. Pandas DataFrame</a></span></li><li><span><a href="#1.2.-Индексирование." data-toc-modified-id="1.2.-Индексирование.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>1.2. Индексирование.</a></span></li><li><span><a href="#1.3.-Работа-со-столбцами." data-toc-modified-id="1.3.-Работа-со-столбцами.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>1.3. Работа со столбцами.</a></span></li><li><span><a href="#1.4.-File-I/O." data-toc-modified-id="1.4.-File-I/O.-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>1.4. File I/O.</a></span></li></ul></div>

# 1.0. Pandas - Первое знакомство

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

http://pandas.pydata.org/

Pandas - open-source  проект, предоставляющий средства для работы с данными в Питоне с использованием абстракций более высокого уровня, чем numpy.

В основе своей pandas полагается на структуры данных numpy, но вместе с тем предоставляет:

* различные типы данных в рамках одной структуры pandas.DataFrame;
* работу с пропущенными значениями;
* удобную работу с типом DateTime;
* набор методов для совместного использования нескольких массивов данных.

** Series **

Series - это массив размерности один, который может содержать данные различного типа, и 1:1 соответствие между данными и некоторой меткой, присвоенной каждому элементу.

In [8]:
series = pd.Series([-12, np.NAN, 1])

In [9]:
series

0   -12.0
1     NaN
2     1.0
dtype: float64

In [10]:
series.values

array([-12.,  nan,   1.])

In [11]:
series.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
series

0   -12.0
1     NaN
2     1.0
dtype: float64

Мы можем создавать объекты, самостоятельно задавая индекс:

In [15]:
series2 = pd.Series([0, 1, 2], index=['a', 'b', 'c'], name='column')

In [17]:
series2.name

'column'

Преимущества индексирования понятны - мы имеем быстрый доступ к элементам массива, при этом можем пользоваться всеми (практически) свойствами массивов numpy.

In [18]:
series[0]

-12.0

In [20]:
series[0:2]

0   -12.0
1     NaN
dtype: float64

**Булево индексирование:**

In [21]:
series > 0

0    False
1    False
2     True
dtype: bool

In [22]:
series.values > 0

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in greater
  """Entry point for launching an IPython kernel.

array([False, False,  True])

In [24]:
series[series > 0]

2    1.0
dtype: float64

In [25]:
2 in series

True

Конструктор принимет массив ранга один либо словарь. Ключи словаря используются как индекс (в отсортированном порядке):

In [27]:
pd.Series({'a': 1, 'c': 2, 'b': 3})

a    1
c    2
b    3
dtype: int64

In [28]:
pd.Series({'a': 1, 'c': 2, 'c': 10, 'b': 3})

a     1
c    10
b     3
dtype: int64

In [29]:
index = ['a_letter', 'b_letter', 'c_letter']

Если вызывается конструктор со словарем и парметром index = , то отсутствующие в словаре ключи получат NaN.

In [30]:
pd.Series({'a_letter': 1, 'b_letter': 2, 'c': 3}, index=index)

a_letter    1.0
b_letter    2.0
c_letter    NaN
dtype: float64

In [31]:
pd.Series([1, 2, 3], index=index)

a_letter    1
b_letter    2
c_letter    3
dtype: int64

Операции с Series напоминают операции с ndarray:

In [32]:
series

0   -12.0
1     NaN
2     1.0
dtype: float64

In [34]:
series[1] = 100

In [36]:
series + series

0    -24.0
1    200.0
2      2.0
dtype: float64

In [37]:
series * series

0      144.0
1    10000.0
2        1.0
dtype: float64

In [38]:
np.exp(series.astype(int))

0    6.144212e-06
1    2.688117e+43
2    2.718282e+00
dtype: float64

# НО

In [43]:
np.exp(series)

0    6.144212e-06
1    2.688117e+43
2    2.718282e+00
dtype: float64

Самому Series и индексу можно присвоить атрибут имя:

In [44]:
series.name = 'some_test_series'

In [45]:
series

0    -12.0
1    100.0
2      1.0
Name: some_test_series, dtype: float64

In [46]:
series.index.name = 'some_test_index'

In [47]:
series

some_test_index
0    -12.0
1    100.0
2      1.0
Name: some_test_series, dtype: float64

In [48]:
series.index

RangeIndex(start=0, stop=3, step=1, name='some_test_index')

Важно помнить, как pandas обращается с несовпадающими индексами:

In [49]:
first_series = pd.Series({'a': 1, 'b': 2, 'c': 2})
second_series = pd.Series({'a': 1, 'b': 2, 'd': -1})

In [50]:
first_series + second_series

a    2.0
b    4.0
c    NaN
d    NaN
dtype: float64

Индекс всегда можно поменять:

In [51]:
series

some_test_index
0    -12.0
1    100.0
2      1.0
Name: some_test_series, dtype: float64

In [52]:
series.index = ['a_letter', 'b_letter', 'c_letter']

In [53]:
series

a_letter    -12.0
b_letter    100.0
c_letter      1.0
Name: some_test_series, dtype: float64

In [55]:
series.loc['a_letter']

-12.0

In [56]:
series.a_letter

-12.0

In [57]:
series.iloc[0:2]

a_letter    -12.0
b_letter    100.0
Name: some_test_series, dtype: float64

In [58]:
series[0:2]

a_letter    -12.0
b_letter    100.0
Name: some_test_series, dtype: float64

In [62]:
series['a_letter'] = 200

In [63]:
series

a_letter    200.0
b_letter    100.0
c_letter      1.0
Name: some_test_series, dtype: float64

# 1.1. Pandas DataFrame

Представим себе структуру, которая могла бы содержать несколько объекто типа Series, объединенных общим индексом. Тогда бы такая структура являлась pandas.DataFrame - табличным форматом данных, снабженным 2 типами индексов - строчным и колоночным.

In [68]:
df = pd.DataFrame({'A': [20, 10, 30], 'B': np.random.randn(3),
                   'C': ['A', 'B', 'C']}, index=['a', 'b', 'c'])

In [69]:
df

    A         B  C
a  20  0.368696  A
b  10 -0.761656  B
c  30  0.960922  C

Выбор столбца ничем не отличается от стандартного \_\_getitem\_\_ синтаксиса:

In [74]:
df['A']

a    20
b    10
c    30
Name: A, dtype: int64

In [77]:
df[['A', 'C']]

    A  C
a  20  A
b  10  B
c  30  C

In [78]:
df.A

a    20
b    10
c    30
Name: A, dtype: int64

Возможные аргументы для конструктора:

* массив ранга 2 (индексы для столбцов и строк передаются отдельным аргументом либо будет использован xrange);
* словарь массивов ранга 1 (ключ - имя стобца, данные - элементы последовательности);
* словарь объектов pd.Series;
* словарь словарей (ключи внутреннего словаря - имена столбцов), ключи внешнего словаря - индекс обеъкта;

Выбор строки:

In [79]:
df.loc[['a', 'b']]

    A         B  C
a  20  0.368696  A
b  10 -0.761656  B

--  N: Обратите внимание - slice подобного типа включает в себя крайний объект "справа".

In [94]:
df.iloc[0:2]

    A         B  C
a  20  0.368696  A
b  10 -0.761656  B

--  N: А такой - не включает.

In [95]:
df.loc['a', 'B']

0.36869595755375406

In [96]:
df.loc['a':'b', ['A', 'C']]

    A  C
a  20  A
b  10  B

** Операции с dataframe **

In [97]:
df

    A         B  C
a  20  0.368696  A
b  10 -0.761656  B
c  30  0.960922  C

In [98]:
df[['A', 'B']] + 5

    A         B
a  25  5.368696
b  15  4.238344
c  35  5.960922

In [99]:
df[['A', 'C']] + df[['A', 'C']]

    A   C
a  40  AA
b  20  BB
c  60  CC

Теперь внимание:

In [133]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [6, 2, 4], 'B': [9, 1, 4]}, index=[2, 0, 1])

In [134]:
df1

   A  B
0  1  4
1  2  5
2  3  6

In [135]:
df2

   A  B
2  6  9
0  2  1
1  4  4

In [136]:
df1 + df2

   A   B
0  3   5
1  6   9
2  9  15

In [137]:
df1.values + df2.values

array([[ 7, 13],
       [ 4,  6],
       [ 7, 10]])

Очень хорошо!

In [138]:
df3 = pd.DataFrame(np.random.randn(5, 3), columns=['A', 'B', 'C'])
df3

          A         B         C
0 -0.227114  0.165272  2.501696
1  0.180823 -0.056878 -0.333763
2  1.226304 -0.100555  0.694224
3  0.238743  1.115956  0.099842
4  0.296325 -0.092265 -0.705252

In [139]:
df1 + df3

          A         B   C
0  0.772886  4.165272 NaN
1  2.180823  4.943122 NaN
2  4.226304  5.899445 NaN
3       NaN       NaN NaN
4       NaN       NaN NaN

После примера с Series - такое поведение как раз и ожидалось.

Тем не менее, бывают случаи, когда нам требуется чем - либо заполнить места, в которых индекс не пересекается. В таких случаях удобно использовать параметр fill_value.

In [141]:
df1.add(df3, fill_value=0)

          A         B         C
0  0.772886  4.165272  2.501696
1  2.180823  4.943122 -0.333763
2  4.226304  5.899445  0.694224
3  0.238743  1.115956  0.099842
4  0.296325 -0.092265 -0.705252

Таких "гибких" арифметических операций 4:

* df.add;
* df.sub;
* df.div;
* df.mul.

Как наследие массива из numpy, мы можем использовать broadcasting:

In [111]:
df = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'), index=['U', 'O', 'T', 'Z'])

In [116]:
df

     b     d     e
U  0.0   1.0   2.0
O  3.0   4.0   5.0
T  6.0   7.0   8.0
Z  9.0  10.0  11.0

In [117]:
series = df.iloc[0]

In [118]:
series

b    0.0
d    1.0
e    2.0
Name: U, dtype: float64

In [119]:
df - series

     b    d    e
U  0.0  0.0  0.0
O  3.0  3.0  3.0
T  6.0  6.0  6.0
Z  9.0  9.0  9.0

Совпадение считается по индексу. Если индексы не совпадают, то операция будет использовать объединения индексов:

In [123]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])

In [125]:
df

     b     d     e
U  0.0   1.0   2.0
O  3.0   4.0   5.0
T  6.0   7.0   8.0
Z  9.0  10.0  11.0

In [124]:
series2

b    0
e    1
f    2
dtype: int64

In [126]:
df + series2

     b   d     e   f
U  0.0 NaN   3.0 NaN
O  3.0 NaN   6.0 NaN
T  6.0 NaN   9.0 NaN
Z  9.0 NaN  12.0 NaN

Если хочется broadcast по столбцам, то нужно использовать один из 4 методов, которые мы поисали ранее:

In [127]:
series3 = df['d']

In [128]:
df

     b     d     e
U  0.0   1.0   2.0
O  3.0   4.0   5.0
T  6.0   7.0   8.0
Z  9.0  10.0  11.0

In [129]:
series3

U     1.0
O     4.0
T     7.0
Z    10.0
Name: d, dtype: float64

In [130]:
df.sub(series3, axis=0)

     b    d    e
U -1.0  0.0  1.0
O -1.0  0.0  1.0
T -1.0  0.0  1.0
Z -1.0  0.0  1.0

In [131]:
df.sub?

# 1.2. Индексирование.

Для индекса pandas имеет отдельный тип объекта - index object.

In [142]:
s1 = pd.Series(range(3), index=['a', 'b', 'c'])

In [143]:
s1

a    0
b    1
c    2
dtype: int64

In [144]:
index = s1.index

In [145]:
index

Index(['a', 'b', 'c'], dtype='object')

In [146]:
index[0]

'a'

In [147]:
s2 = pd.Series([1.5, -2.5, 0], index=index)

In [148]:
s2.index is s1.index

True

In [149]:
index

Index(['a', 'b', 'c'], dtype='object')

** Реиндексирование **

In [153]:
ser3 = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

In [154]:
ser3

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [155]:
ser4 = ser3.reindex(['a', 'b', 'c', 'd', 'e'])

In [156]:
ser4

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

Столь же просто менять индекс объекта DataFrame:

In [157]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'], 
                     columns=['Ohio', 'Texas', 'California'])

In [158]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [159]:
frame2 = frame.reindex(index=['a', 'b', 'c', 'd'])

In [160]:
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [161]:
states = ['Texas', 'Utah', 'California']

In [162]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [163]:
ser3[ser3 > 0]

d    4.5
b    7.2
c    3.6
dtype: float64

# 1.3. Работа со столбцами.

In [164]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), 
                  index=['F', 'S', 'T', 'R'])

In [165]:
frame

          b         d         e
F  0.873007  0.511117  1.431040
S -1.153870  0.267007 -0.168514
T -0.987236 -0.004692 -1.504091
R  1.049313  0.087800 -1.392079

Как вы уже поянли, никаких проблем с функцией, которая работает в numpy поэлементно, у нас не возникнет:

In [166]:
np.abs(frame)

          b         d         e
F  0.873007  0.511117  1.431040
S  1.153870  0.267007  0.168514
T  0.987236  0.004692  1.504091
R  1.049313  0.087800  1.392079

In [167]:
np.power(frame, 2)

          b         d         e
F  0.762141  0.261240  2.047877
S  1.331415  0.071293  0.028397
T  0.974635  0.000022  2.262290
R  1.101058  0.007709  1.937883

Однако, чаще нам нужно применить функцию к какому либо столбцу - например, почитать абсолютное значение, сконвертировать из ts в datetime итд.

In [168]:
frame

          b         d         e
F  0.873007  0.511117  1.431040
S -1.153870  0.267007 -0.168514
T -0.987236 -0.004692 -1.504091
R  1.049313  0.087800 -1.392079

In [177]:
new_format = lambda x: '%.2f' % x

In [178]:
frame.applymap(new_format)

       b      d      e
F   0.87   0.51   1.43
S  -1.15   0.27  -0.17
T  -0.99  -0.00  -1.50
R   1.05   0.09  -1.39

Для Series метод назывется map().

In [179]:
frame['e'] = frame['e'].map(lambda x: x ** 2)

In [181]:
frame['e'] = frame['e'] ** 2

In [182]:
frame

          b         d         e
F  0.873007  0.511117  4.193799
S -1.153870  0.267007  0.000806
T -0.987236 -0.004692  5.117958
R  1.049313  0.087800  3.755391

Чтобы получить доступ к списку названий, достаточно обратиться к df.columns:

In [183]:
frame.columns

Index(['b', 'd', 'e'], dtype='object')

Также полезно следующее:

In [184]:
df.dtypes

b    float64
d    float64
e    float64
dtype: object

Для сортировки по индексу стоит вызвать df.sort_index(), который возвращает копию исходного объекта:

In [185]:
frame.sort_index()

          b         d         e
F  0.873007  0.511117  4.193799
R  1.049313  0.087800  3.755391
S -1.153870  0.267007  0.000806
T -0.987236 -0.004692  5.117958

In [186]:
frame.sort_index(axis=1, ascending=False)

          e         d         b
F  4.193799  0.511117  0.873007
S  0.000806  0.267007 -1.153870
T  5.117958 -0.004692 -0.987236
R  3.755391  0.087800  1.049313

Чтобы отсортировать по значению столбцов:

In [187]:
frame.sort_index(by=['d', 'b'])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

          b         d         e
T -0.987236 -0.004692  5.117958
R  1.049313  0.087800  3.755391
S -1.153870  0.267007  0.000806
F  0.873007  0.511117  4.193799

In [188]:
frame.sort_values(by=['d', 'b'])

          b         d         e
T -0.987236 -0.004692  5.117958
R  1.049313  0.087800  3.755391
S -1.153870  0.267007  0.000806
F  0.873007  0.511117  4.193799

Также значениям можно присвоить ранг:

In [189]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, F to R
Data columns (total 3 columns):
b    4 non-null float64
d    4 non-null float64
e    4 non-null float64
dtypes: float64(3)
memory usage: 128.0+ bytes

In [192]:
frame.describe()

              b         d         e
count  4.000000  4.000000  4.000000
mean  -0.054696  0.215308  3.266989
std    1.177183  0.227181  2.250300
min   -1.153870 -0.004692  0.000806
25%   -1.028894  0.064677  2.816744
50%   -0.057114  0.177404  3.974595
75%    0.917083  0.328034  4.424839
max    1.049313  0.511117  5.117958

# 1.4. File I/O.

http://pandas.pydata.org/pandas-docs/stable/io.html

Как видно из оффициальной документации (выше), в качестве входного формата могут использоваться следующие:
* read_csv
* read_excel
* read_hdf
* read_sql
* read_json
* read_msgpack (experimental)
* read_html
* read_gbq (experimental)
* read_stata
* read_sas
* read_clipboard
* read_pickle

Каждый из них снабжен "зеркальным" методом "to".

Думаю, что чаще всего вас придется пользоваться методом "read_csv". Подробная сигнатура:

In [119]:
pd.read_csv?

In [193]:
data = pd.read_csv('./data/movie_metadata.csv')

In [196]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [197]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [198]:
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [199]:
data.get_dtype_counts()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  """Entry point for launching an IPython kernel.

float64    13
int64       3
object     12
dtype: int64

In [200]:
data['director_name'].value_counts()

Steven Spielberg     26
Woody Allen          22
Martin Scorsese      20
Clint Eastwood       20
Ridley Scott         17
                     ..
Antony Hoffman        1
Karim Aïnouz          1
Daniel Petrie Jr.     1
Keith Parmer          1
Mark Tarlov           1
Name: director_name, Length: 2398, dtype: int64

In [201]:
data.values

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)